<td colspan="4">
  <div id="question-form mdl-grid mdl-cell mdl-cell--12-col">
    <%= simple_form_for @question, html: { class: "mdl-grid mdl-cell mdl-cell--12-col" }, remote: true do |f| %>
      <%= f.input :content, label: false, wrapper_html: { class: "mdl-textfield mdl-js-textfield textfield-demo mdl-cell mdl-cell--4-col" }, input_html: { class: "mdl-textfield__input text-input" }, label_html: { class: "mdl-textfield__label" } %>
      <%= f.input :answer, label: false, placeholder: "Enter Answer Here", wrapper_html: { class: "mdl-textfield mdl-js-textfield textfield-demo mdl-cell mdl-cell--4-col" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" } %>
      <div class="mdl-cell mdl-cell--2-col slider">
        <div class="slider-title">Question Difficulty Level</div>
        <input class="mdl-slider mdl-js-slider" type="range" min="1" max="10" value="<%= @question.difficulty_level %>" tabindex="0" name="question[difficulty_level]" id="question_difficulty_level"/>
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <%= f.button :submit, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      </div>
    <% end %>
  </div>
</td>
