<div id="new-question-form">
  <%= f.simple_fields_for :questions, @category.questions.build, remote: true do |ff| %>

    <%= ff.input :content, label: 'Question', wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" } %>
    <%= ff.input :answer, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" } %>
    <p class="slider">Difficulty:<input class="mdl-slider mdl-js-slider" type="range" min="1" max="10" value="0" tabindex="0" name="category[questions_attributes][0][difficulty_level]" id="category_questions_attributes_0_difficulty_level"/></p>
    <%= ff.hidden_field :right, value: 0 %>
    <%= ff.hidden_field :wrong, value: 0 %>

  <% end %>
</div>
