<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--4-col">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-centering" }) do |f| %>
  <h3>Sign up</h3>
  <%= f.error_notification %>
  
  <%= f.input :first_name, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" } %>
  <%= f.input :last_name, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" } %>
  <%= f.input :email, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: true, autofocus: true %>
  <%= f.input :password, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: true %>
  
  <%= f.button :submit, "Sign up", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  
<% end %>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--12-col shared-links">
  <%= render "devise/shared/links" %>
</div>