<div class='score-board mdl-cell mdl-cell--12-col mdl-shadow--4dp'>
  <%= render partial: 'scores' %>
  <h6>
    <div id='turn-group'>
        Turn: <%= Group.find(@game_session.turn_group_id).name %>
    </div>
  </h6>
</div>

<div id='map-container'>
  <img class="map" src="<%= @map.file_path %>">
</div>

<% @players.each do |player| %>
  <i class="<%= @icon.description %> fa-2x <%= player.group_id %> draggables icon", id="<%= player.id %>"><%= player.student.first_name[0] %></i>
<% end %>

<%= render partial: 'games/story_modal' %>

<%= link_to 'Teacher View', teacher_gameplay_path(@game_session) %>
