<div class='score-board mdl-cell mdl-shadow--4dp'>
  <%= render partial: 'scores' %>
  <h6>
    <div id='turn-group'>
      Turn: <%= Group.find(@game_session.turn_group_id).name %>

    </div>
  </h6>
  <%= render partial: 'winner' %>
</div>

<div id="map-container" value="<%= @game_session.id %>">
  <img class="map" src="<%= @map.file_path %>">
</div>

<% @players.each do |player| %>
  <i name="<%= player.group_id %>" class="<%= @icon.description %> fa-2x <%= player.group_id %> draggables icon", id="<%= player.id %>" >
    <span class="first-letter"><%= player.student.first_name[0] %></span>
    <% player.group.students.each do |s|  %>
      <% if s.first_name[0] == player.student.first_name[0] && s != player.student %>
        <span class="last-letter"><%= player.student.last_name[0] %></span>
        <% break %>
      <% end %>
    <% end %>

  </i>
<% end %>

<%= render partial: 'games/story_modal' %>
