<%= render partial: 'scores' %>
<div id='turn-group'>
  It is currently <%= Group.find(@game_session.turn_group_id).name %>'s turn.
</div>

<img class="map" src="<%= @map.file_path %>">

<% @players.each do |player| %>
  <i class="<%= @icon.description %> <%= player.group_id %> draggables", id="<%= player.id %>"><%= player.student.first_name[0] %></i>
<% end %>
