<h3>Current Group</h3>

<div class="current-group" id="<%= @current_group.id %>">
  <h4><%= @current_group.name if @current_group %></h4>
</div>

<div class="supplies">
  <h5>Supplies</h5>
  <ul>
    <% if @current_group %>
      <% @current_group.supplies.each do |s| %>
        <li><div id="s<%= s.id %>"><%= render partial: '/supplies/show', locals: { s: s } %></div></li>
      <% end %>
        <li>
          <div class="mdl-card mdl-shadow--4dp" id="suppliesModal">
            <div class="mdl-card__supporting-text">
              <h2 id="question-text">
                <%= render partial: '/supplies/form', locals: { id: @current_group.id, supply: Supply.new } %>
              </h2>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
