<div class="modal" id="suppliesModal">
  <div class="modal-fg mdl-cell--3-col">
    <h2>
      <%= render partial: '/supplies/form', locals: { id: @current_group.id, supply: Supply.new } %>
    </h2>
    <button class="close-modal mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Close</button>
  </div>
</div>

<div id="notesModal" class="modal">
  <div class="modal-fg modal-card mdl-cell--3-col">
    <%= render partial: '/notes/form', locals: { id: @current_group.id, note: Note.new } %>
    <button class="close-modal mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-margin">Close</button>
  </div>
</div>

<div id="sendMessageModal" class="modal">
  <div class="modal-fg">
    <%= form_tag send_message_path(@game_session, @current_group), remote: true, :class => "mdl-grid" do %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--6-col">
        <%= text_area_tag :message_text, nil, class: "mdl-textfield__input", placeholder: "Enter Message Here" %>
      </div>

      <div class="input">
        <%= submit_tag 'Send', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      </div>
    <% end %>
    <button class="close-modal mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Close</button>
  </div>
</div>
