<div id="sendMessageModal" class="mdl-shadow--4dp">
  <%= form_tag send_message_path(@game_session), remote: true do %>
    <%= label_tag :message_text %>
    <%= text_area_tag :message_text %>

    <%= label_tag :group %>
    <%= select_tag :group, options_from_collection_for_select(@game_session.groups, "id", "name"), include_blank: true %>

    <%= submit_tag 'Send' %>
  <% end %>
</div>
