<div class="mdl-card mdl-shadow--4dp" id="suppliesModal">
  <div class="mdl-card__supporting-text">
    <h2 id="question-text">
      <%= simple_form_for @supply, url: assign_supply_path(@game_session), method: :post, remote: true do |f| %>
        <%= f.input :amount %>
        <%= f.input :name %>
        <%= f.hidden_field :group_id, value: id %>
        <%= f.button :submit, "Assign", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect", id: "assignSupplies" %>
      <% end %>
    </h2>
  </div>
</div>
