<button type="button" class="choose-winner mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Choose Winner
</button>

<div class="modal" id="winnerModal">
  <div class="modal-fg mdl-cell--3-col">

    <h3>Choose Winner</h3>

    <%= form_for @game_session, url: end_game_path(@game_session) do |f| %>

    <div>
      <% @game_session.groups.each do |group| %>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
          <input type="radio" value="<%= group.id %>" name="game_session[winning_group_id]" class="mdl-radio__button" id="game_session_winning_group_id_<%= group.id %>" autocomplete="off">
          <span class="mdl-radio__label"><%= group.name %></span>
        </label>
      <% end %>
    </div>

    <%= f.submit "Submit", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-margin" %>
    <% end %>

    <button type="button" class="choose-winner-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-dismiss="modal">Close</button>
  </div>
</div>
