<button type="button" class="choose-winner mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Choose Winner
</button>

<div class="mdl-shadow--4dp" id="winnerModal">
  <div class="mdl-card__supporting-text modal-fg">

    <h3>Choose Winner</h3>

    <%= form_for @game_session, url: end_game_path(@game_session) do |f| %>

    <div>
      <% @game_session.groups.each do |group| %>
        <label class="btn btn-primary">
          <input type="radio" value="<%= group.id %>" name="game_session[winning_group_id]" id="game_session_winning_group_id_<%= group.id %>" autocomplete="off"><%= group.name %>
        </label>
      <% end %>
    </div>

    <%= f.submit "Submit", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% end %>

    <button type="button" class="choose-winner-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-dismiss="modal">Close</button>
  </div>
</div>
