<% @groups.each do |group| %>
  <div class="group">
    <div><%= group.name %></div>
    <div><%= group.score %> points</div>
    <ol>
      <% group.supplies.each do |supply| %>
        <li><%= supply.amount %> <%= supply.name %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= link_to 'Main Game', "/teacher_gameplay/#{@game_session.id}/home"%>
