<div class="mdl-cell mdl-cell--12-col" id="scores">
  <%= render partial: 'scores' %>
</div>

<div class="mdl-cell mdl-cell--12-col" id="current-group">
  <%= render partial: 'current_group' %>
</div>

<div class="mdl-cell mdl-cell--12-col" id="next-turn">
  <%= render partial: 'next_turn' %>
</div>

<div id="next-question">
  <%= render partial: 'next_question' %>
</div>

<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col" id="roster">
    <%= render partial: 'roster' %>
  </div>
<div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div id="answer-buttons">
  <%= render partial: 'answer_buttons' %>
</div>

<%= link_to "Open Class View", class_gameplay_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= link_to "All Group Stats", groups_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= render partial: 'winner' %>
