<div id="scores">
  <h3>Scores</h3>
  <%= render partial: 'scores' %>
</div>

<div id="current-group">
  <h3>Current Group</h3>
  <div class="current-group" id="<%= @current_group.id %>"><%= @current_group.name if @current_group %></div>

  <div><p>Supplies</p><ul>
    <% if @current_group %>
      <% @current_group.supplies.each do |s| %>
      <li><%= s.amount %> <%= s.name %></li>
      <% end %>
      <li><%= render partial: 'supply', locals: { id: @current_group.id } %></li>
    </ul></div>
  <% end %>
</div>

<div>
  <%= simple_form_for @game_session, url: 'next_group' do |f| %>
    <%= f.hidden_field :turn_group_id, value: @game_session.next_group %>

    <%= f.button :submit, "Next Turn" %>
  <% end %>
</div>

<div id="next-question">
  <h3>Next Question</h3>
  <div><%= @question.content %></div>
  <div><button id="send-question" class="btn btn-default">Send Question</button></div>
  <div id="competition-container"><%= render partial: 'competition_question' %></div>
</div>

<div id="roster"><%= render partial: 'roster' %></div>

<div class="links">
<%= link_to "Open Class View", "/class_gameplay/#{@game_session.id}/home", class: "btn btn-default" %>
<%= link_to "All Group Stats", "/teacher_gameplay/#{@game_session.id}/groups", class: "btn btn-default" %>
<%= render partial: 'winner' %>
</div>
