<div class="mdl-cell mdl-cell--12-col">
  <div id="game-header">
    <%= @game_session.name %>
  </div>
  <span class="link">
    <%= link_to "Projector View", class_gameplay_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent button" %>
  </span>
</div>

<div class="mdl-cell mdl-cell--2-col column-1">
  <div class="bookmark">
    <i class="fa fa-bookmark"></i> denotes the group currently taking a turn.
  </div>
  <div id="group-links">
    <%= render partial: 'group_links' %>
  </div>
</div>

<div class="mdl-cell mdl-cell--6-col column-2">
  <div id="current-group">
    <%= render partial: 'current_group' %>
  </div>
  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="addNotes">Add Note</button>
</div>

<div class="mdl-cell mdl-cell--4-col column-3">
  <div id="next-question">
    <%= render partial: 'next_question' %>
  </div>
  <div>
    <button id="send-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Send Question
    </button>
  </div>
  <div>
    <ul
      id="list-competition-answers">
    </ul>
  </div>
  <div id="roster">
    <%= render partial: 'roster' %>
  </div>
</div>

<div class="teacher-footer">
  <div id="next-turn">
    <%= render partial: '/teacher_gameplay/next_turn' %>
  </div>
  <%= render partial: 'winner' %>
</div>

<div id="answer-buttons">
  <%= render partial: 'answer_buttons' %>
</div>
