<div class="mdl-card mdl-shadow--4dp" id="scores">
  <%= render partial: 'scores' %>
</div>

<div class="mdl-card mdl-shadow--4dp" id="current-group">
  <%= render partial: 'current_group' %>
</div>

<div class="">
  <%= simple_form_for @game_session, url: next_group_path do |f| %>
    <%= f.hidden_field :turn_group_id, value: @game_session.next_group %>

    <%= f.button :submit, "Next Turn" %>
  <% end %>
</div>

</div id="next-question">
  <%= render partial: 'next_question' %>
</div>

<div id="roster">
  <%= render partial: 'roster' %>
</div>

<div id="answer-buttons">
  <%= render partial: 'answer_buttons' %>
</div>

<%= link_to "Open Class View", class_gameplay_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= link_to "All Group Stats", groups_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= render partial: 'winner' %>
