<div id="scores">
  <h3>Scores</h3>
  <%= render partial: 'scores' %>
</div>

<div>
  <h3>Current Group</h3>
  <div><%= @current_group.name %></div>
  <div><p>Supplies</p><ul>
    <% @current_group.supplies.each do |s| %>
    <li><%= s.amount %> <%= s.name %></li>
    <% end %>
    <li><%= render partial: 'supply', locals: { id: @current_group.id } %></li>
  </ul></div>
</div>

<div>
  <%= simple_form_for @game_session, url: 'next_group' do |f| %>
    <%= f.hidden_field :turn_group_id, value: @game_session.next_group %>

    <%= f.button :submit, "Next Turn" %>
  <% end %>
</div>

<div>
  <h3>Next Question</h3>
  <%= @question.content %>
</div>
