<div class="mdl-card mdl-shadow--4dp" id="scores">
  <%= render partial: 'scores' %>
</div>

<div class="mdl-card mdl-shadow--4dp" id="current-group">
  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text">Current Group</h3>
  </div>
  <div class="class="mdl-card__supporting-text">
    <div class="current-group" id="<%= @current_group.id %>">
      <%= @current_group.name if @current_group %>
    </div>
    <div class="supplies">
      Supplies
      <ul>
        <% if @current_group %>
          <% @current_group.supplies.each do |s| %>
          <li><%= s.amount %> <%= s.name %></li>
          <% end %>
          <li><%= render partial: 'supply', locals: { id: @current_group.id } %></li>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<div class="">
  <%= simple_form_for @game_session, url: 'next_group' do |f| %>
    <%= f.hidden_field :turn_group_id, value: @game_session.next_group %>

    <%= f.button :submit, "Next Turn" %>
  <% end %>
</div>

<div class="mdl-card mdl-shadow--4dp" id="next-question">
  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text">Next Question</h3>
  </div>
  <div class="mdl-card__supporting-text">
    <div><%= render partial: 'next_question' %></div>
    <button id="send-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Send Question</button>
    <div id="competition-container"><%= render partial: 'competition_question' %></div>
  </div>
</div>

<div id="roster"><%= render partial: 'roster' %></div>

<div id="answer-buttons"><%= render partial: 'answer_buttons' %></div>

<%= link_to "Open Class View", "/class_gameplay/#{@game_session.id}/home", class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= link_to "All Group Stats", "/teacher_gameplay/#{@game_session.id}/groups", class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= render partial: 'winner' %>
