<div class="mdl-grid mdl-cell--12-col mdl-shadow--4dp top card">
  <div class="mdl-cell mdl-cell--2-col teacher-header">
    <div id="next-turn">
      <%= render partial: 'next_turn' %>
      <button id="send-message" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Send Message</button>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--8-col teacher-header">
    <div id="scores">
      <%= render partial: 'scores' %>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--2-col teacher-header">
    <%= render partial: 'winner' %>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col teacher-header">
    <div class="mdl-cell mdl-cell--6-col">
    <%= link_to "All Group Stats", groups_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
    <%= link_to "Open Class View", class_gameplay_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
    </div>
  </div>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp mid card">
  <div id="current-group">
    <%= render partial: 'current_group' %>
  </div>
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="addSupplies">Add Supply</button>
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="addNotes">Add Note</button>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp mid card">
  <div id="next-question">
    <%= render partial: 'next_question' %>
  </div>
  <div>
    <button id="send-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Send Question
    </button>
    <button id="send-competition-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
      Send Competition Question
    </button>
  </div>
  <div>
    <ul id="list-competition-answers">
    </ul>
  </div>
</div>

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-shadow--4dp card">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col" id="roster">
    <%= render partial: 'roster' %>
  </div>
<div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div id="answer-buttons">
  <%= render partial: 'answer_buttons' %>
</div>

<div id="send-message-container">
  <%= render partial: 'send_message' %>
</div>

<%= render partial: 'story_modal' %>
