<div id="scores">
  <h3>Scores</h3>
  <%= render partial: 'scores' %>
</div>

<div>
  <h3>Current Group</h3>
  <div><%= @current_group.name %></div>
  <div><ul>
    <% @current_group.supplies.each do |s| %>
    <li><%= s.amount %> <%= s.name %></li>
    <% end %>
    <ls><%= link_to 'Add <i class="fa fa-plus"></i>'.html_safe, "/teacher_gameplay/#{@game_session.id}/supply/#{@current_group.id}" %></li>
  </ul></div>
</div>

<div>
  <%= simple_form_for @game_session, url: 'next_group' do |f| %>
    <%= f.hidden_field :turn_group_id, value: @game_session.next_group %>

    <%= f.button :submit, "Next Turn" %>
  <% end %>
</div>
