<div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp card">
  <div id="scores">
    <%= render partial: 'scores' %>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp card">
  <div id="current-group">
    <%= render partial: 'current_group' %>
  </div>
  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="addSupplies">Add Supply</button>
  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="addNotes">Add Note</button>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp card">
  <div id="next-question">
    <%= render partial: 'next_question' %>
  </div>
  <div>
    <button id="send-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Send Question
    </button>
    <button id="send-competition-question" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
      Send Competition Question
    </button>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp card">
  <div id="next-turn">
    <%= render partial: 'next_turn' %>
  </div>
  <%= render partial: 'winner' %>
</div>

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-shadow--4dp card">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col" id="roster">
    <%= render partial: 'roster' %>
  </div>
<div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div id="answer-buttons">
  <%= render partial: 'answer_buttons' %>
</div>

<%= link_to "Open Class View", class_gameplay_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
<%= link_to "All Group Stats", groups_path(@game_session), class: "mdl-button mdl-js-button mdl-button--accent" %>
