<h1>Editing Student</h1>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'New Game Scenario', new_game_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Questions', categories_path %>
<%= link_to 'Roster', students_path %>
