<p>
  <strong>Games won:</strong>
  <%= @student.games_won %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'New Game Scenario', new_game_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Questions', categories_path %>
<%= link_to 'Roster', students_path %>
