<div class="mdl-cell mdl-cell--4-col"></div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mdl-cell mdl-cell--4-col form-padding" }) do |f| %>
  <h3>Forgot your password?</h3>
  <%= f.error_notification %>
  
  <%= f.input :email, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: true %>
  
  <div class="form-actions">
    <%= f.button :submit, "Reset Password", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
<% end %>

<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--12-col shared-links">
  <%= render "devise/shared/links" %>
</div>