<div class="mdl-grid">
<%= f.simple_fields_for :groups do |ff| %>
  <div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp group-assignment-forms" id="group<%= "#{ff.object.id}" %>">

      <h3>Group</h3>


      Password: <%= ff.object.password %>
      <%= ff.input :name, label: "Group Name", wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" } %>
      <%= ff.input :_destroy, as: :boolean, label: "Remove Group" %>
    
      <h4>Students</h4>
      
      <ul class="groups-students student-drag-area" id="<%= "#{ff.object.id}" %>">
        <% ff.object.students.each do |student| %>
          <li class="draggables" id="<%= student.id %>"><%= student.full_name %></li>
        <% end %>
      </ul>

  </div>
<% end %>
</div>