<%= f.simple_fields_for :groups do |ff| %>
<div class="group-container" id="group<%= "#{ff.object.id}" %>">
  <h2>Group</h2>
  <p>Password: <%= ff.object.password %></p>
  <%= ff.input :name, label: "Group Name"%>
  <%= ff.input :_destroy, as: :boolean, label: "Remove Group" %>

  <h3>Students</h3>
  <ul class="groups-students" id="<%= "#{ff.object.id}" %>">
  </ul>

</div>

<% end %>
