<div class="mdl-cell mdl-cell--12-col">
  <h3><%= @game_session.game.name %> <%= @game_session.id %></h3>
</div>

<div class="mdl-cell mdl-cell--2-col mdl-shadow--4dp class-list">
  <ul class="groups-students">
    <% @students.each do |student| %>
      <li class="draggables" id="<%= student.id %>"><%= student.full_name %></li>
    <% end %>
  </ul>
</div>

<%= simple_form_for @game_session, url: "assign_groups", html: { class: "mdl-cell mdl-cell--10-col" } do |f| %>
  <%= f.error_notification %>
  <%= render partial: 'new_group_form', locals: {f: f} %>
  <%= f.button :submit, "Submit", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
