<div class="mdl-cell mdl-cell--12-col">
  <h3><%= @game_session.game.name %> <%= @game_session.id %></h3>
</div>

<div class="mdl-cell mdl-cell--2-col mdl-shadow--4dp class-list">
  <ul class="groups-students">
    <% @students.each do |student| %>
      <li class="draggables" id="<%= student.id %>"><%= student.full_name %></li>
    <% end %>
  </ul>
</div>

<div id="new-group-form-container">
  <%= render partial: 'new_group_form' %>
</div>
