<h1><%= @game_session.game.name %> <%= @game_session.id %></h1>

<%= simple_form_for @game_session, url: "assign_groups" do |f| %>
  <%= f.error_notification %>

  <div id="new-group-form-container"><%= render partial: 'new_group_form', locals: {f: f} %></div>

  <%= f.button :submit, "Submit" %>
<% end %>
<ul class="groups-students student-list">
  <% @students.each do |student| %>
    <li class="draggables" id="<%= student.id %>"><%= student.full_name %></li>
  <% end %>
</ul>
