<h1><%= @game_session.game.name %> <%= @game_session.id %></h1>

<%= simple_form_for @game_session, url: "assign_groups" do |f| %>
  <%= f.error_notification %>

  <%= render partial: 'new_group_form', locals: {f: f} %>

  <%= f.button :submit, "Submit" %>
<% end %>
<ul class="groups-students">
  <% @students.each do |student| %>
    <li class="draggables"><%= student.full_name %></li>
  <% end %>
</ul>
<div class="links">
  <%= link_to 'New Game Scenario', new_game_path, html_options = { class: "btn btn-default" } %>
</div>
