<div class="mdl-cell mdl-cell--12-col">
  <h3 class="session-name" id="<%= @game_session.id %>">Game Session Name: <%= @game_session.name %></h3>
  <h5>Player Icon: <span id="icon"><i class="<%= @game_session.icon.description %>"></i> </span> Minimum difficulty of questions given to players: <span id="min-diff"><%= @game_session.min_difficulty %></span></h5>
  <ul>
    <li>Each team will sign in during the game using the passwords below.</li>
  </ul>
</div>

<div class="mdl-cell mdl-cell--2-col mdl-shadow--4dp class-list">
  <div><h6>Drag and drop students to assign to a team.</h6></div>
  <ul class="groups-students" id="0">
    <% @students.each do |student| %>
      <li class="draggables" id="<%= student.id %>"><%= student.full_name %></li>
    <% end %>
  </ul>
</div>

<div class="mdl-cell mdl-cell--10-col">
  <div id="new-group-form-container">
    <%= render partial: 'new_group_form' %>
  </div>
</div>
<div id="footnotes_holder"></div>
