<%= simple_form_for @game_session, url: 'create' do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.association :game, label_method: :name %>
  
  <div class="form-group">
    <label>Number of Groups</label>
    <%= number_field_tag :number_of_groups, nil, min: 1, class: "form-control" %>
  </div>
  <% @categories.each do |category| %>
    <div class="form-group">
      <label><%= category.name %></label>
      <%= check_box_tag "category[]", category.id %>
    </div>
  <% end %>

  <%= f.button :submit %>
<% end %>
