<%= simple_form_for @game_session, url: 'create' do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.association :game, label_method: :name %>
  Number of Groups <%= number_field_tag :number_of_groups %>

  <% @categories.each do |category| %>
    <div><%= category.name %> <%= check_box_tag "category[]", category.id %></div>
  <% end %>

  <%= f.button :submit %>
<% end %>
