<h1>Available Game Scenarios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Player Icon</th>
      <th>Movement Allowed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><i class="<%= game.icon.description %> fa-2x"></i></td>
        <td><%= game.movement %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Remove', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Current Games</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Active Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <% game.game_sessions.each do |game_session| %>
        <tr>
          <td><%= game_session.name %></td>
          <td><%= game_session.updated_at.strftime("%b %e, %Y") %></td>
          <td><%= link_to 'Play', "/teacher_gameplay/#{game_session.id}/home" %></td>
          <td><%= link_to 'Remove', "/game_sessions/#{game_session.id}/destroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="links">
  <%= link_to 'Start New Game', '/game_sessions/new' %>
</div>
