<div class="mdl-cell mdl-cell--12-col">
  <h1>Available Game Scenarios</h1>
</div>

<div class="mdl-cell mdl-cell--3-col"></div>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--6-col available-games">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Player Icon</th>
      <th>Movement Allowed</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= game.name %></td>
        <td><i class="<%= game.icon.description %> fa-2x"></i></td>
        <td><%= game.movement %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Remove', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mdl-cell mdl-cell--3-col"></div>

<div class="mdl-cell mdl-cell--12-col">
  <h1>Current Games</h1>
</div>

<div class="mdl-cell mdl-cell--3-col"></div>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--6-col">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Game</th>
      <th>Last Active Date</th>
      <th class="mdl-data-table__cell--non-numeric">Winner</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <% game.game_sessions.each do |game_session| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= game_session.name %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= game.name %></td>
          <td><%= game_session.updated_at.strftime("%b %e, %Y") %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= Group.find(game_session.winning_group_id).name if game_session.winning_group_id %></td>
          <td><%= link_to 'Play', teacher_gameplay_path(game_session) %></td>
          <td><%= link_to 'Remove', delete_game_session_path(game_session), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="mdl-cell mdl-cell--3-col"></div>

<%= link_to 'Start New Game', new_game_session_path, html_options = { class: "mdl-button mdl-js-button mdl-button--accent" } %>
