<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Student icon:</strong>
  <i class="<%= @game.student_icon %> fa-2x"></i>
</p>

<p>
  <strong>Movement:</strong>
  <%= @game.movement %>
</p>

<div class="links">
  <%= link_to 'Edit', edit_game_path(@game) %>
  <%= link_to 'New Game Scenario', new_game_path %>
</div>