<div class="mdl-cell mdl-cell--4-col"></div>
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title mdl-card--border">
    <h4>Name: <%= @game.name %></h4>
  </div>
  
  <div class="mdl-card__supporting-text">
    Student icon: <i class="<%= @game.icon.description %> fa-2x"></i>
  </div>
  <div class="mdl-card__supporting-text">
    Movement: <%= @game.movement %>
  </div>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>

<%= link_to 'Edit', edit_game_path(@game), html_options = { class: "mdl-button mdl-js-button mdl-button--accent" } %>
<%= link_to 'New Game Scenario', new_game_path, html_options = { class: "mdl-button mdl-js-button mdl-button--accent" } %>
