<div id="map-container">
  <img class="map" src="<%= @map.file_path %>">
</div>

<% @players.each do |player| %>
  <i class="<%= @icon.description %> fa-2x <%= player.group_id %> draggables icon", id="<%= player.id %>">
    <%= player.student.first_name[0] %><%= player.student.last_name[0] %>
  </i>
<% end %>

<nav class="student-stats nav-expanded">
  <a href="#" id="nav-close">X</a>

  <ul class="list-unstyled stat-main-content">

    <div>
      <span class="stat-title">
        <%= @group.name %>
      </span>
    </div>
    <div>
      <span class="stat-title" id="score-line<%= params[:group_id] %>">
        <%= @group.score %> points
      </span>
    </div>
    <span class="stat-title">Supplies:</span>
    <ul id='supply-list' class="list-unstyled">
      <% if @group.supplies.length == 0 %>
        <li>
          No Supplies Added
        </li>
      <% else %>
        <% @group.supplies.each do |supply|%>
          <li><%= supply.amount %> <%= supply.name %></li>
        <% end %>
      <% end %>
    </ul>

    <span class="stat-title">Team Members</span>
    <ul id="group-list"class="list-unstyled">
      <% @group.students.order(:last_name).each do |student| %>
        <li>
          <%= student.full_name %>
          <%= student.active?(@group.id).html_safe %>
        </li>
      <% end %>
    </ul>
    <div id='turn-group'>
      Turn: <%= Group.find(@game_session.turn_group_id).name %>
    </div>

  </ul>
</nav>

<div class="navbar-header pull-right">
  <a id="nav-expander" class="nav-expander fixed">
    STATS &nbsp;<i class="fa fa-bars fa-lg white"></i>
  </a>
</div>


<%= render partial: 'question', locals: {question: @game_session} %>
<%= render partial: 'message' %>
<%= render partial: 'games/story_modal' %>
<div id="footnotes_holder"></div>
