<img class="map" src="<%= @map.file_path %>">

<% @players.each do |player| %>
  <i class="<%= @icon.description %> <%= player.group_id %> draggables", id="<%= player.id %>"><%= player.student.first_name[0] %></i>
<% end %>

<nav>
  <ul class="list-unstyled main-menu">
    <li class="text-right"><a href="#" id="nav-close">X</a></li>

    <h3>Group: <%= params[:group_id] %></h3>

    <p>Name: <%= @group.name %></p>
    <p>Score: <%= @group.score %> points</p>

    <ul class="list-unstyled"><h5>Supplies</h5>
      <% @group.supplies.each do |supply|%>
        <li><%= supply.amount %> <%= supply.name %></li>
      <% end %>
    </ul>

    <h5>Group Members</h5>
    <ul class="list-unstyled">
      <% @group.students.order(:last_name).each do |student| %>
        <li>
          <%= student.full_name %>
          <% student.active? %>
        </li>
      <% end %>
    </ul>

  </ul>
</nav>

<div class="navbar-header pull-right">
  <a id="nav-expander" class="nav-expander fixed">
    STATS &nbsp;<i class="fa fa-bars fa-lg white"></i>
  </a>
</div>


<%= render partial: 'question', locals: {question: @game_session} %>
