<div id="map-container">
  <img class="map" src="<%= @map.file_path %>">
</div>

<% @players.each do |player| %>
  <i class="<%= @icon.description %> <%= player.group_id %> draggables icon", id="<%= player.id %>"><%= player.student.first_name[0] %></i>
<% end %>

<nav class="student-stats">
  <a href="#" id="nav-close">X</a>

  <ul class="list-unstyled stat-main-content">

    <h4>Group: <%= params[:group_id] %></h4>
    <div>
      <span class="stat-title">Name:</span> <%= @group.name %>
    </div>
    <div>
      <span class="stat-title">Score:</span> <%= @group.score %> points
    </div>
    <div id='turn-group'>
      It is currently <%= Group.find(@game_session.turn_group_id).name %>'s turn.
    </div>

    <h4>Supplies</h4>
    <ul class="list-unstyled">
      <% @group.supplies.each do |supply|%>
        <li><%= supply.amount %> <%= supply.name %></li>
      <% end %>
    </ul>

    <h4>Group Members</h4>
    <ul class="list-unstyled">
      <% @group.students.order(:last_name).each do |student| %>
        <li>
          <%= student.full_name %>
          <%= student.active?(@group.id).html_safe %>
        </li>
      <% end %>
    </ul>

  </ul>
</nav>

<div class="navbar-header pull-right">
  <a id="nav-expander" class="nav-expander fixed">
    STATS &nbsp;<i class="fa fa-bars fa-lg white"></i>
  </a>
</div>


<%= render partial: 'question', locals: {question: @game_session} %>
<div id="footnotes_holder"></div>
