<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--4-col">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-centering" }) do |f| %>
  <h3>Log in</h3>
  <%= f.input :email, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: false %>
  <%= f.input :password, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: false %>
  <label class="mdl-checkbox mdl-js-checkbox" for="teacher_remember_me">
    <%= f.input_field :remember_me, as: :boolean, boolean_style: :inline, class: "mdl-checkbox__input" if devise_mapping.rememberable? %>
    <span class="mdl-checkbox__label">Remember Me</span>
  </label>
  <%= f.button :submit, "Log in", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>

<div class="mdl-cell mdl-cell--12-col shared-links">
  <%= render "devise/shared/links" %>
</div>