<div class="mdl-cell mdl-cell--12-col">
  <h2>Log in</h2>
</div>

<div class="mdl-cell mdl-cell--4-col"></div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mdl-cell mdl-cell--4-col" }) do |f| %>
  <%= f.input :email, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: false, autofocus: true %>
  <%= f.input :password, wrapper_html: { class: "mdl-textfield mdl-js-textfield mdl-textfield--floating-label" }, input_html: { class: "mdl-textfield__input" }, label_html: { class: "mdl-textfield__label" }, required: false %>
  <%= f.input :remember_me, wrapper_html: { class: "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" }, input_html: { class: "mdl-checkbox__input" }, label_html: { class: "mdl-checkbox__label" },  as: :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, "Log in", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>

<div class="mdl-cell mdl-cell--4-col"></div>

<%= render "devise/shared/links" %>
