<%= simple_form_for @category, remote: true do |f| %>
  <%= f.error_notification %>
  <div id="question-list">
    <%= link_to "New Question", "#", id: "copy_link", class: "btn btn-default", onclick: "copySection();" %>
    <div>
      <div id="new-question-form">
        <%= render partial: '/questions/form', locals: { f: f } %>
      </div>
    </div>
  </div>

  <%= f.button :submit, "Submit Questions" %>
<% end %>
