<%= simple_form_for @category do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.hidden_field :teacher_id %>
  <% if @category.id != nil %>
  <div id='question-list'>
    <h3>Question</h3>
    <div>
      <%= render partial: 'questions_form', locals: {f: f} %>
    </div>
  </div>
  <% end  %>

  <%= f.button :submit %>

<% end %>
<%= link_to "Copy it!", "#", id: "copy_link", onclick: "copySection();" %>
