<%= simple_form_for @category do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: 'Category Name' %>
  <%= f.hidden_field :teacher_id %>
  <% if @category.id != nil %>
    <div id='question-list'>
      <div>
        <%= render partial: 'questions_form', locals: {f: f} %>
      </div>
    </div>
  <% end %>
  <%= f.button :submit %>
<% end %>

<div class="links">
  <%= link_to "New Question", "#", id: "copy_link", onclick: "copySection();" %>
</div>
