<h3><%= @category.name %></h3>

<ul class="list">
  <% @questions.each do |question| %>
    <li><div id="question-container<%= question.id %>"><%= render partial: 'question', locals: {question: question} %></div></li>
  <% end %>
</ul>

<div>
  <%= simple_form_for @category, remote: true do |f| %>
    <%= f.error_notification %>
    <div id="question-list">
      <div class="links"><%= link_to "New Question", "#", id: "copy_link", onclick: "copySection();" %></div>
      <div>
        <div id="question-form" class="form-inline">
          <%= render partial: 'questions_form', locals: { f: f } %>
        </div>
      </div>
    </div>

    <%= f.button :submit, "Submit Questions" %>
  <% end %>
</div>
